{{/* Google Fonts – preload hint + preconnect za brže učitavanje fontova */}}
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;900&family=Instrument+Sans:ital,wght@0,400;0,600;1,400&family=Geist+Mono:wght@300;400;500&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;900&family=Instrument+Sans:ital,wght@0,400;0,600;1,400&family=Geist+Mono:wght@300;400;500&display=swap">
